*{
    padding: 0;
    margin: 0;
}
.jumbotron {
    text-align: center;
    position: relative;
    background: url(https://olafawzi21.github.io/Moredno/img/bg-new.jpg);
    background-size: 100% 100%;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jumbotron .mask {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: 0.5;
}
.logo {
    position: absolute;
    left: 15px;
    top: 15px;
}
.logo img {
    width: 50px;
}
.menu-toggle {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 30px;
    color: #fff;
}
.menu {
    width: 300px;
    display: block;
    background: #333;
    height: 100%;
    top: 0;
    right: -300px;
    position: fixed;
    z-index: 100;
    text-align: center;
    transition: right 0.4s;
}

.menu .close {
    color: #fff;
    margin-right: 10px;
    margin-top: 10px;
}
.menu h3 {
    margin-top: 50px;
    text-transform: uppercase;
}
.menu .nav {
    padding: 0;
}
.menu .nav  li  a {
    color: #fff;
}
.nav  li  a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
a{
    text-decoration: none;
}
.menu .social-icons {
    margin-top: 50px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
ul.social-icons {
    list-style: none;
    padding: 0;
}
.menu .social-icons li {
    margin-right: 10px;
    float: none;
    display: inline-block;
}
.menu .social-icons  li  a {
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.header-info {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.intro-h1 {
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 50px;
}
.jumbotron p {
    color: #fff;
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
.get-in {
    width: 30%;
    height: 55px;
    background-color: #3171CF;
    transform: translateY(30px);
    color: white;
}
.row.pros {
    padding: 100px;
}
.pros-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pros-icon svg {
    font-size: 50px;
    color: #3171CF;
    border: 0.5px solid rgb(147, 146, 146);
    border-radius: 50%;
    padding: 30px;
}
.item h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}
.item p {
    font-size: 1rem;
    font-weight: lighter;
}
section.darker {
    background-color: #fbfbfb;
    padding: 80px 0px;
}
section header {
    text-align: center;
    margin-bottom: 80px;
}
section p {
    color: #808080;
}
.portfolio-item {
    position: relative;
    margin-bottom: 30px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.img-responsive {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.portfolio-item .mask {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    height: 100%;
    transition: all 0.4s;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    border-radius: 10px;
}
.portfolio-item .mask:hover{
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    border-radius: 10px;
}
.portfolio-item .mask p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 18px;
}
section header {
    text-align: center;
    margin-bottom: 80px;
}
.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    margin-bottom: 80px;
}
.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.form-control {
    padding: 17px 25px;
    font-size: 15px;
    height: auto;
    border-radius: 0;
    background: #f1f4f7;
    border: none;
   margin-bottom: 20px;
}
.form-group .btn {
    width: 100%;
    text-transform: uppercase;
}
.btn-primary {
    background: #3171cf;
    border-width: 2px;
    color: #fff;
    border-color: #3171cf;
}
.btn {
    padding: 15px 30px;
    border-radius: 0;
}
address {
    margin-bottom: 50px;
    padding-left: 100px;
}
address span {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 20px;
    display: block;
}
footer {
    background-color: #333333;
    color: white;
    padding: 100px;
    margin-top: 20px;
}
footer span{
    text-decoration: none;
}
footer .social-icons {
    color: white;
    
}
footer .social-icons svg{
    font-size: 1rem;
    background-color: #ffffff;
    border-radius: 50%;
    color: #333333;
    padding: 10px;
    margin-left: 30px;
}